<div>
  <b-container fluid>
    <b-row>
      <b-col sm="6">
        <div class="form-group">
          <b-button
            v-if="isOpponent"
            aria-pressed="true"
            variant="primary"
            @click="begin"
            ref="btnResign"
            :disabled="btnBeginDisable"
          >
            {{ btnText }}
          <b-button>
          <button class="btn btn-primary" v-if="canEnd" @click="getScore">
            {{ endText }}
          </b-button>
          <b-button
            variant="primary"
            :disabled="btnPassedDisable"
            v-if="canBegin"
            @click="passed"
          >
            开始数子
          </b-button>

          <b-button variant="primary" @click="toggleMarker">
            显示手数
          </b-button>
          <b-button
            variant="primary"
            @click="regret"
            :disabled="btnRegretDisable"
          >
            悔棋
          </b-button>
          <b-button variant="primary" :disabled="btnQuitDisable" @click="exit">
            结束对局
          </b-button>
          <b-button
            variant="primary"
            :disabled="btnQuitDisable"
            @click="toggleAll"
          >
            切换坐标
          </b-button>
        </div>
        <my-go
          v-if="game"
          :total_time="game.total_time.toString()"
          :blackOne="game.blackone_id"
          :whiteOne="game.whiteone_id"
          :blackTwo="game.blacktwo_id"
          :whiteTwo="game.whitetwo_id"
          :gameStatus="game.status"
        />

        <div class>
          <vue-webrtc
            ref="webrtc"
            width="100%"
            :isOpponent="isOpponent"
            :userId="account.user.name"
            :roomId="game_id"
            v-on:joined-room="logEvent"
            v-on:left-room="logEvent"
            v-on:open-room="logEvent"
            v-on:share-started="logEvent"
            v-on:share-stopped="logEvent"
            @error="onError"
          />
        </div>
        <div class="row">
          <div class="col-md-12 my-3">
            <b-button variant="primary" @click="onJoin">
              <b-icon icon="camera-video"></b-icon>加入
            </b-button>
            <b-button variant="primary" @click="onLeave">
              <b-icon icon="camera-video-off"></b-icon>离开
            </b-button>
            <!-- <button
                  type="button"
                  class="btn btn-primary"
                  @click="onCapture"
                >
                  Capture Photo
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="onShareScreen"
                >
                  Share Screen
                </button> -->
          </div>
        </div>
        <!-- <my-video :gameId="game_id"></my-video> -->
        <div>
          <chat v-if="game" :gameId="game_id" :gameInfo="game" />
          <b-list-group v-for="(user, index) in games.onlineUsers" :key="index">
            <b-list-group-item>
              <b-avatar variant="info" :src="user.avatar"></b-avatar>
              {{ user }}
            </b-list-group-item>
          </b-list-group>
        </div>
      </b-col>
    </b-row>
  </b-container>
</div>
