<div>
  <b-container class="bv-example-row" width="100%">
    <b-row>
      <b-col cols="8">
        <div class="form-group">
          <button
            v-if="isOpponent"
            aria-pressed="true"
            class="btn btn-primary"
            @click="begin"
            ref="btnResign"
            :disabled="btnBeginDisable"
          >
            {{ btnText }}
          </button>
          <button class="btn btn-primary" v-if="canEnd" @click="getScore">
            {{ endText }}
          </button>
          <button class="btn btn-primary" :disabled="btnPassedDisable" v-if="canBegin" @click="passed">
            终局
          </button>
          <!-- <button class="btn btn-primary" @click="test">test</button> -->
          <button
            class="btn btn-primary"
            :disabled="btnQuitDisable"
            @click="exit"
            ref="quit"
            id="quit"
          >
            退出
          </button>
        </div>
        <my-go
          v-if="game"
          :total_time="game.total_time.toString()"
          :blackOne="game.blackone_id"
          :whiteOne="game.whiteone_id"
          :blackTwo="game.blacktwo_id"
          :whiteTwo="game.whitetwo_id"
          :gameStatus="game.status"
        />
      </b-col>
      <b-col cols="4">
        <b-tabs content-class="mt-3" justified>
          <b-tab title="视频" active>
            <div class>
              <vue-webrtc
                ref="webrtc"
                width="100%"
                :isOpponent="isOpponent"
                :userId="account.user.name"
                :roomId="game_id"
                v-on:joined-room="logEvent"
                v-on:left-room="logEvent"
                v-on:open-room="logEvent"
                v-on:share-started="logEvent"
                v-on:share-stopped="logEvent"
                @error="onError"
              />
            </div>
            <div class="row">
              <div class="col-md-12 my-3">
                <b-button variant="primary" @click="onJoin">
                  加入
                </b-button>
                <b-button variant="primary" @click="onLeave">
                  离开
                </b-button>
                <!-- <button
                  type="button"
                  class="btn btn-primary"
                  @click="onCapture"
                >
                  Capture Photo
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="onShareScreen"
                >
                  Share Screen
                </button> -->
              </div>
            </div>
            <!-- <my-video :gameId="game_id"></my-video> -->
          </b-tab>
          <b-tab title="聊天">
            <chat v-if="game" :gameId="game_id" :gameInfo="game" />
          </b-tab>
          <b-tab title="观众">
            <b-list-group
              v-for="(user, index) in games.onlineUsers"
              :key="index"
            >
              <b-list-group-item>{{ user }}</b-list-group-item>
            </b-list-group>
          </b-tab>
        </b-tabs>
      </b-col>
    </b-row>
  </b-container>
</div>
